<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms name="frmAuthenticate" loginUrl="Login.aspx" defaultUrl="~/Menu.aspx"></forms>
    </authentication>
    <roleManager enabled="true"></roleManager>

    <authorization>
      <!-- Allow access to Login.aspx and Register.aspx for everyone -->
      <allow users="*"/>
    </authorization>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
			     type="System.Web.Security.SqlMembershipProvider"
			     connectionStringName="LocalSqlServer2"
			     enablePasswordRetrieval="false"
			     enablePasswordReset="true"
			     requiresQuestionAndAnswer="false"
			     requiresUniqueEmail="false"
			     minRequiredPasswordLength="5"
			     minRequiredNonalphanumericCharacters="0"
			     passwordFormat="Hashed"/>
      </providers>
    </membership>
    
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <location path="Main.aspx">
    <system.web>
      <authorization>
        <!-- Restrict access to Main.aspx to logged-in users only -->
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <!-- Restrict access to Admin.aspx to users in the Administrators role only -->
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <connectionStrings>
    <add name="LocalSqlServer2"
		 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|School.mdf;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>